@font-face {
    font-family: "Nexa";
    font-weight: 400;
    src:
      local("NexaRegular"),
      local("Nexa Regular"),
      url(./fonts/NexaRegular.woff) format("woff"),
      url(./fonts/NexaRegular.woff2) format("woff2"),
      url(./fonts/NexaRegular.ttf) format("ttf");
    font-display: swap;
  }
  
 @font-face {
    font-family: "Nexa";
    font-weight: 700;
    src:
      local("Nexa Bold"),
      local("Nexa XBold"),
      local("NexaBold"),
      url(./fonts/NexaBold.woff) format("woff"),
      url(./fonts/NexaBold.woff2) format("woff2"),
      url(./fonts/NexaBold.ttf) format("ttf");
    font-display: swap;
  }
  